<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team7birdsofafeather">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team7BirdsOfAFeather">
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyBNRccF0ieNPOwtbKsWzBWLWj6ESW0ofIc" />

        <activity
            android:name=".EnterPastCoursesActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmNameProfileActivity"
            android:exported="false" />
        <activity
            android:name=".BoFDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>